html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.erreur {
  color: red;
}

.section-formulaire {
  margin: 1em auto;
  padding: 1em;
  width: 700px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0.3em;
}

.section-formulaire form {
  margin: 0;
  padding: 0;
}

.section-formulaire h2 {
  margin: 0;
  padding: 0 0 1rem 0;
  font-size: 2em;
  font-weight: 700;
}

.section-formulaire h3 {
  margin: 0 0 1rem 0;
  padding: 0 0 0.3rem 0;
  font-size: 1em;
  font-weight: 700;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgba(34,36,38,.15);
}

.section-formulaire label {
  margin: 0 0 0.3em 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 700;  
  display: block;
}

.section-formulaire label[for="m"],
.section-formulaire label[for="mme"],
.section-formulaire label[for="abo_newsletter"] {
  margin: 0 0 0.3em 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 700;
  display: inline;
}

.section-formulaire label[for="inline"] {
  display: inline;
}

.section-formulaire input[type="text"],
.section-formulaire input[type="email"], 
.section-formulaire input[type="password"],
.section-formulaire input[type="tel"],
.section-formulaire textarea,
.section-formulaire select {
  display: block;
  width: 100%;
  border-radius: 0.3em;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.7em 1em; 
}

.section-formulaire input[type="date"] {
  display: block;
  /*width: 100%;*/
  border-radius: 0.3em;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.7em 1em; 
}


.section-formulaire .deux-champs {
  margin: 1em 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.section-formulaire .deux-champs p {
  margin: 0;
  padding: 0;
  width: 49%;
}

.section-formulaire input[type="submit"],
.section-formulaire input[type="reset"] {
  padding: 0.8em 1.5em;
  background-color: #e0e0e0;
  border-radius: 0.3em;
  font-size: 0.9em;
  font-weight: 700;  
  border: none;
  cursor: pointer;
}

.section-formulaire input[type="submit"]:hover,
.section-formulaire input[type="reset"]:hover {
  background-color: #cacaca;
}