USE [master]
GO
/****** Object:  Database [bibliotheque]    Script Date: 06/10/2025 15:28:40 ******/
CREATE DATABASE [bibliotheque]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bibliotheque', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bibliotheque.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bibliotheque_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bibliotheque_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bibliotheque].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bibliotheque]
GO
/****** Object:  Table [dbo].[Auteurs]    Script Date: 06/10/2025 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auteurs](
	[IdAuteur] [bigint] NOT NULL,
	[NomAuteur] [varchar](20) NOT NULL,
	[Prenom] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Auteurs] PRIMARY KEY CLUSTERED 
(
	[IdAuteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auteurs_livre]    Script Date: 06/10/2025 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auteurs_livre](
	[ISBN] [varchar](20) NOT NULL,
	[IdAuteur] [bigint] NOT NULL,
 CONSTRAINT [PK_auteurs_livre] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC,
	[IdAuteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exemplaire]    Script Date: 06/10/2025 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exemplaire](
	[Numero] [bigint] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[DateAchat] [date] NOT NULL,
	[Empl] [varchar](2) NOT NULL,
 CONSTRAINT [PK_Exemplaire] PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livre]    Script Date: 06/10/2025 15:28:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livre](
	[ISBN] [varchar](20) NOT NULL,
	[Titre] [varchar](60) NOT NULL,
 CONSTRAINT [PK_Livre] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auteurs_livre]  WITH CHECK ADD  CONSTRAINT [FK_auteurs_livre_Auteurs] FOREIGN KEY([IdAuteur])
REFERENCES [dbo].[Auteurs] ([IdAuteur])
GO
ALTER TABLE [dbo].[auteurs_livre] CHECK CONSTRAINT [FK_auteurs_livre_Auteurs]
GO
ALTER TABLE [dbo].[auteurs_livre]  WITH CHECK ADD  CONSTRAINT [FK_auteurs_livre_Livre] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Livre] ([ISBN])
GO
ALTER TABLE [dbo].[auteurs_livre] CHECK CONSTRAINT [FK_auteurs_livre_Livre]
GO
ALTER TABLE [dbo].[Exemplaire]  WITH CHECK ADD  CONSTRAINT [FK_Exemplaire_Livre] FOREIGN KEY([ISBN])
REFERENCES [dbo].[Livre] ([ISBN])
GO
ALTER TABLE [dbo].[Exemplaire] CHECK CONSTRAINT [FK_Exemplaire_Livre]
GO
USE [master]
GO
